<!-- <mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
  <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <mat-form-field>
      <mat-label>Sidenav mode</mat-label>
      <mat-select #mode value="side">
        <mat-option value="side">Side</mat-option>
        <mat-option value="over">Over</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Has backdrop</mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Unset</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
  </mat-drawer-content>
</mat-drawer-container> -->
<div style="width: 100%; text-align: center;">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Side Nav / App Structure</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <pre style="font-size: 25px;">{{appStructureCode}}</pre>
      </div>

    </div>
    </div>
