<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="header">
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button (click)="sideNavExpand()">
      <mat-icon style="color: #696969;">menu</mat-icon>
    </button>
    <h1 style="
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    color: #696969;
    text-decoration: none solid rgb(105, 105, 105); padding-left: 50px;"> Component and Style Guide</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button mat-stroked-button [matMenuTriggerFor]="company" class='appbarBtn'>
      <ng-container *ngIf="currentCompany">
        <div fxLayoutAlign="center center">
          <img [src]="currentCompany.imageUrl" [alt]="currentCompany.alt" style="height: 32px; width: 32px;">
          <span class='appbarBtnTxt'>{{currentCompany.companyName}}</span>
          <mat-icon class='appbarBtnIcon'>expand_more</mat-icon>
        </div>
      </ng-container>

    </button>
    <div style="padding-left: 17px;"></div>
    <button mat-button mat-stroked-button [matMenuTriggerFor]="myapps" class='appbarBtn'>
      <div fxLayoutAlign="center center">
        <mat-icon style="color: #16666f; ">apps</mat-icon>
        <span class='appbarBtnTxt'>My Apps</span>
        <mat-icon class='appbarBtnIcon'>expand_more</mat-icon>
      </div>
    </button>
    <mat-menu #company="matMenu">
      <div mat-menu-item class='appbarBtn' (click)="searchForCompany($event)">
        <mat-form-field appearance="outline">
          <mat-label>Search for company</mat-label>
          <input matInput type="text" [(ngModel)]="searchValue">
        </mat-form-field>
      </div>
      <button mat-menu-item *ngFor="let company of allCompanies | async | search: searchValue" (click)="getCurrentCompany(company.id)"
        class='appbarBtn'>
        <div fxLayoutAlign="start center"><img [src]="company.imageUrl" [alt]="company.alt"
            style="height: 32px; width: 32px;"><span class='appbarBtnTxt'>{{company.companyName}}</span></div>
      </button>
    </mat-menu>
    <mat-menu #myapps="matMenu">
      <button mat-menu-item *ngFor="let application of applications" (click)="openNewTab(application.applicationUrl)"
        class='appbarBtn'><span class='appbarBtnTxt'>{{application.applicationName}}</span></button>
    </mat-menu>
  </div>

</mat-toolbar>
