.footer-collapse {
  position: absolute;
  right: 0;
  width: calc(100% - 72px);
}

.footer-expanded {
  position: absolute;
  right: 0;
  width: calc(100% - 256px);
}

.footer {
  background-color: #fefefe;
  padding: 0 50px 0 50px;
}
