<div class="footer-wrapper" >
  <mat-toolbar class="footer"  fxLayout="row" fxLayoutAlign="space-between center" style="border-top: 1px solid rgba(0,0,0,0.1)" >
    <div>
      <img src="../../assets/computershare-logo-svg.png" style="height: 20px;" alt="CS Logo">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button mat-flat-button (click)="openDialogPrivacyPolicy()" >
        Privacy Policy
      </button>
      <button mat-button mat-flat-button (click)="openDialogTermsAndConditions()" >
        Terms & Conditions
      </button>
    </div>
  </mat-toolbar>
</div>
