<h1>{{title}}</h1>
    <ul>
        <ng-template #recursiveList let-list>
            <li *ngFor="let item of list; let index = index">
                <span (click)="onSelect(item)"> {{item.title}} </span>

                <ul *ngIf="item.children.length > 0 && !item.hide">

                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>

                </ul>
            </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
    </ul>


    <cdk-accordion class="example-accordion">
      <cdk-accordion-item
        *ngFor="let item of items; let index = index;"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" [routerLink]="'/{{item}}'">
          <mat-icon class="mat-18" (click)="accordionItem.toggle()" style="cursor: pointer;">{{accordionItem.expanded ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
          {{ item }}

        </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index">
          <!-- <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
          excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
          veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
          </p> -->
          <cdk-accordion-item
        *ngFor="let item of items; let index = index;"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" >
          {{ item }}
          <mat-icon class="mat-18" (click)="accordionItem.toggle()" style="cursor: pointer;">{{accordionItem.expanded ? 'remove' : 'add'}}</mat-icon>
        </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index">
          <cdk-accordion-item
        *ngFor="let item of items; let index = index;"
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" >
          {{ item }}
          <mat-icon class="mat-18" (click)="accordionItem.toggle()" style="cursor: pointer;">{{accordionItem.expanded ? 'remove' : 'add'}}</mat-icon>
        </div>
        <div
          class="example-accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
          excepturi incidunt ipsum deleniti labore, tempore non nam doloribus blanditiis
          veritatis illo autem iure aliquid ullam rem tenetur deserunt velit culpa?
          </p>
        </div>
      </cdk-accordion-item>
        </div>
      </cdk-accordion-item>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>

    <ul>
      <li class="text" *ngFor="let company of companies | async">
        {{company.companyName}}
      </li>
    </ul>

    <ul>
      <li class="text" *ngFor="let application of applications | async">
        {{application.applicationName}}
      </li>
    </ul>
