// app bar btn
.appbarBtn {
  background-color: #ffffff;  height: 44px;
}

.appbarBtnTxt {
  font-size: 14px; color: #696969; text-decoration: none solid rgb(105, 105, 105); padding-left: 11px;
}

.appBarBtnIcon {
  color: #696969; padding-left: 11px;
}
