<div style="width: 100%; text-align: center;">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Flat Buttons</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-flat-button color=primary>Primary</button>
        <pre class="codeText">{{matFlatBtnPrime}}</pre>
      </div>

    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-flat-button color=accent>Accent</button>
        <pre class="codeText">{{matFlatBtnAccent}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-flat-button color=warn>Warn</button>
        <pre class="codeText">{{matFlatBtnWarn}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-flat-button disabled>Disabled</button>
        <pre class="codeText">{{matFlatBtnDisabled}}</pre>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Stroked Buttons</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-stroked-button color=primary>Primary</button>
        <pre class="codeText">{{matStrokedBtnPrime}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-stroked-button color=accent>Accent</button>
        <pre class="codeText">{{matStrokedBtnAccent}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-stroked-button color=warn>Warn</button>
        <pre class="codeText">{{matStrokedBtnWarn}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-stroked-button disabled>Disabled</button>
        <pre class="codeText">{{matStrokedBtnDisabled}}</pre>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Raised Buttons</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-raised-button color=primary>Primary</button>
        <pre class="codeText">{{matRaisedBtnPrime}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-raised-button color=accent>Accent</button>
        <pre class="codeText">{{matRaisedBtnAccent}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-raised-button color=warn>Warn</button>
        <pre class="codeText">{{matRaisedBtnWarn}}</pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-button mat-raised-button disabled>Disabled</button>
        <pre class="codeText">{{matRaisedBtnDisabled}}</pre>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Mat Icon Buttons</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-icon-button>
          <mat-icon color=primary>more_vert</mat-icon>
        </button>
        <pre class="codeText">
          {{matIconBtnMore}}
        </pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-icon-button color="primary">
          <mat-icon color=primary>home</mat-icon>
        </button>
        <pre class="codeText">
          {{matIconBtnHome}}
        </pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-icon-button color="accent">
          <mat-icon color=accent>menu</mat-icon>
        </button>
        <pre class="codeText">
          {{matIconBtnMenu}}
        </pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-icon-button color="warn">
          <mat-icon color=warn>favorite</mat-icon>
        </button>
        <pre class="codeText">
          {{matIconBtnFavorite}}
        </pre>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Mat Fab Buttons</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-fab color=primary>
          <mat-icon class="white-icon">delete</mat-icon>
        </button>
        <pre class="codeText">
          {{matFabIconDelete}}
        </pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-fab color=primary>
          <mat-icon class="white-icon">bookmark</mat-icon>
        </button>
        <pre class="codeText">
          {{matFabIconBookmark}}
        </pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-fab color=accent>
          <mat-icon class="white-icon">home</mat-icon>
        </button>
        <pre class="codeText">
          {{matFabIconHome}}
        </pre>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Mat Mini Fab Buttons</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-mini-fab color=primary>
          <mat-icon class="white-icon">menu</mat-icon>
        </button>
        <pre class="codeText">
          {{matMiniFabIconMenu}}
        </pre>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <button mat-mini-fab color=accent>
          <mat-icon class="white-icon">plus_one</mat-icon>
        </button>
        <pre class="codeText">
          {{matMiniFabIconPlusOne}}
        </pre>
      </div>
    </div>
  </div>
</div>
