<div style="width: 100%; text-align: center;">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Row One Widgets</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <div class="rowOneWidgetOne" fxLayout="column" fxLayoutAlign="center">rowOneWidgetOne</div>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <div class="rowOneWidgetTwo" fxLayout="column" fxLayoutAlign="center">rowOneWidgetTwo</div>
      </div>
    </div>
  </div>


  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Row Two Widgets</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <div class="rowTwoWidgetOne" fxLayout="column" fxLayoutAlign="center">rowTwoWidgetOne</div>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <div class="rowTwoWidgetTwo" fxLayout="column" fxLayoutAlign="center">rowTwoWidgetTwo</div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <h1>Row Three Widgets</h1>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <div class="rowThreeWidgetOne" fxLayout="column" fxLayoutAlign="center">rowThreeWidgetOne</div>
      </div>
    </div>
    <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="space-around">
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100">
        <div class="rowThreeWidgetTwo" fxLayout="column" fxLayoutAlign="center">rowThreeWidgetTwo</div>
      </div>
    </div>
  </div>
</div>
