@use '~@angular/material'as mat;

.rowOneWidgetOne {
  width: 216px;
  height: 134px;
  border-radius: 4px;
  fill: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;
  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(8);
  }
}

.rowOneWidgetTwo {
  width: 216px;
  height: 134px;
  border-radius: 16px;
  fill: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;
  &:active {
    @include mat.elevation(8);
  }
}

.rowTwoWidgetOne {
  width: 328px;
  height: 204px;
  border-radius: 4px;
  fill: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;
  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(8);
  }
}

.rowTwoWidgetTwo {
  width: 328px;
  height: 204px;
  border-radius: 16px;
  fill: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;
  &:active {
    @include mat.elevation(8);
  }
}

.rowThreeWidgetOne {
  width: 656px;
  height: 408px;
  border-radius: 4px;
  fill: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;
  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(8);
  }
}

.rowThreeWidgetTwo {
  width: 656px;
  height: 408px;
  border-radius: 16px;
  fill: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  stroke-width: 1;

  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:active {
    @include mat.elevation(8);
  }
}

.widget-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.widget-container .mat-form-field {
  width: 220px;
}

.widget-container form {
  margin-bottom: 20px;
}

.widget-container form > * {
  margin: 5px 0;
}

.widget-container .mat-radio-button {
  margin: 0 12px;
}
