.widget-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.widget-container .mat-form-field {
  width: 220px;
}

.widget-container form {
  margin-bottom: 20px;
}

.widget-container form > * {
  margin: 5px 0;
}

.widget-container .mat-radio-button {
  margin: 0 12px;
}

.spinner-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.spinner-section-margin {
  margin: 0 10px;
}


