<!-- <div class="container">
   <mat-toolbar class="header"color=primary><button mat-icon-button>
       <mat-icon class="white-icon">menu</mat-icon>
     </button><h1> Component and Style Guide</h1></mat-toolbar>
     <div class="content">
       <div class="sidenav" style="background-color: red; height: 100vh; width: 60px; position:absolute;"></div>
       <div class="footer" style="background-color: grey; height: 30px;"></div>
     </div>

    <div class="content">
     <div fxLayout="row">

       <div>
         <mat-sidenav-container class="example-container">
           <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
             <mat-nav-list>
               <a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
               <a mat-list-item [routerLink]="'/bades'"> Badges </a>
               <a mat-list-item [routerLink]="'/buttons'"> Buttons </a>
               <a mat-list-item [routerLink]="'/sidenav'"> SideNav </a>
               <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

             </mat-nav-list>
           </mat-sidenav>

           <mat-sidenav-content class="content">

           </mat-sidenav-content>
         </mat-sidenav-container>
       </div>
     </div>
   </div>
   <mat-toolbar class="footer" color=accent fxLayout="row" fxLayoutAlign="space-between center">
     <div>
       <h1>Footer1</h1>
     </div>
     <div>
       <h1>Footer 2</h1>
     </div>
   </mat-toolbar>
 </div>-->
 <div class="wrapper">
  <mat-toolbar class="header"color=primary><button mat-icon-button>
    <mat-icon class="white-icon">menu</mat-icon>
  </button><h1> Component and Style Guide</h1></mat-toolbar>
  <div class="content">
    <div class="left-half" fxLayout="column" fxLayoutAlign="space-around center">
      <button  mat-button mat-flat-button [routerLink]="'/dashboard'">Dashboard</button>
      <button  mat-button mat-flat-button [routerLink]="'/badges'">Badges</button>
      <button  mat-button mat-flat-button [routerLink]="'/buttons'">Buttons</button>
      <button  mat-button mat-flat-button [routerLink]="'/sidenav'">SideNav</button>
      <button  mat-button mat-flat-button (click)="sidenav.toggle()">Close</button>
    </div>
    <div class="right-half">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer-wrapper">
    <mat-toolbar class="footer" color=accent fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <h1>Footer1</h1>
      </div>
      <div>
        <h1>Footer 2</h1>
      </div>
    </mat-toolbar>
  </div>

</div>

