.wrapper {
  height: 100%;
}

.header,
.footer {
  height: 50px;
}

.footer-wrapper {
  position: absolute;
  right: 0;
  width: calc(100% - 67px);
}

.footer {
  background-color: #fefefe;
}

.content {
  height: calc(100% - 100px);
  positon: absolute;
  width: 100%
}

.left-half {
  position: absolute;
  left: 0px;
  width: 67px;
  height: calc(100% - 50px);
  overflow: auto;
  background-color: #333333;
}

.right-half {
  background-color: #fefefe;
  position: absolute;
  right: 0px;
  width: calc(100% - 67px);
  height: calc(100% - 100px);
  overflow: auto
}

.left-nav-button {
  height: 47px !important;
  width: 47px !important;
  min-width: 0px;
  border-radius: 5%;
}

.active-nav-button {
  background-color: #fefefe;
}

.active-button {
  color: #93186C;
}

.unactive-button {
  color: white;
}

