.appbar {
  position: absolute;
  left: 0px;
  width: 67px;
  height: calc(100% - 50px);
  overflow: auto;
  background-color: #333333;
}

.nav-button {
  height: 47px !important;
  width: 47px !important;
  min-width: 0px;
  border-radius: 5%;
}

.active-nav-button {
  background-color: #fefefe;
}

.active-button {
  color: #93186C;
}

.active-text {
  font-size: 10px; color: #fefefe;
}

.unactive-text {
  font-size: 10px; color: #ffffff; opacity: .75;
}

.unactive-button {
  color: white;
}
