<div [ngClass]="!expandedAppbar ? 'appbar-expanded' : 'appbar-collapse'">
  <div fxLayout="column" fxLayoutAlign="space-between center" style="height: 100%; padding: 40px 0 50px 0;"
    *ngIf="expandedAppbar else expandedDashboard">
    <div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button-collapse' [routerLink]="'/dashboard'"
          routerLinkActive="active-nav-button" #rlaDashboard="routerLinkActive">
          <mat-icon routerLinkActive="active-button">home</mat-icon>
        </button>
        <span [ngClass]="rlaDashboard.isActive ? 'active-text': 'unactive-text'">Dashboard</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button' [routerLink]="'/badges'"
          routerLinkActive="active-nav-button" #rlaBadges="routerLinkActive" matBadge="5" matBadgePosition="after">
          <mat-icon routerLinkActive="active-button">verified</mat-icon>
        </button>
        <span [ngClass]="rlaBadges.isActive ? 'active-text': 'unactive-text'">Badges</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button' [routerLink]="'/buttons'"
          routerLinkActive="active-nav-button" #rlaButtons="routerLinkActive">
          <mat-icon routerLinkActive="active-button">gamepad</mat-icon>
        </button>
        <span [ngClass]="rlaButtons.isActive ? 'active-text': 'unactive-text'">Buttons</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button' [routerLink]="'/tables'"
          routerLinkActive="active-nav-button" #rlaTable="routerLinkActive">
          <mat-icon routerLinkActive="active-button"><span class="material-icons">
              table_view
            </span></mat-icon>
        </button>
        <span [ngClass]="rlaTable.isActive ? 'active-text': 'unactive-text'">Tables</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button' [routerLink]="'/tooltip'"
          routerLinkActive="active-nav-button" #rlaTooltip="routerLinkActive">
          <mat-icon routerLinkActive="active-button">construction</mat-icon>
        </button>
        <span [ngClass]="rlaTooltip.isActive ? 'active-text': 'unactive-text'">Tooltips</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button' [routerLink]="'/carousel'"
          routerLinkActive="active-nav-button" #rlaCarousel="routerLinkActive">
          <mat-icon routerLinkActive="active-button">view_carousel</mat-icon>
        </button>
        <span [ngClass]="rlaCarousel.isActive ? 'active-text': 'unactive-text'">Carousel</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button mat-icon-button mat-stroked-button class='nav-button' [routerLink]="'/widgets'"
          routerLinkActive="active-nav-button" #rlaWidgets="routerLinkActive">
          <mat-icon routerLinkActive="active-button">widgets</mat-icon>
        </button>
        <span [ngClass]="rlaWidgets.isActive ? 'active-text': 'unactive-text'">Widgets</span>
      </div>
    </div>
    <div>
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <div>
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <button mat-icon-button mat-stroked-button class='nav-button'>
              <mat-icon routerLinkActive="active-button">settings</mat-icon>
            </button>
            <!-- <button mat-icon-button mat-stroked-button class='nav-button'  [routerLink]="'/settings'" routerLinkActive="active-nav-button" #rlaSettings="routerLinkActive">
              <mat-icon routerLinkActive="active-button">settings</mat-icon>
            </button> -->
            <!-- <span [ngClass]="rlaSettings.isActive ? 'active-text': 'unactive-text'">Settings</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #expandedDashboard>
    <div fxLayout="column" fxLayoutAlign="space-between start"
      style="height: 100%; width: 100%; padding: 16px 0 16px 0;">
      <div style="width: 100%;">
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/dashboard'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaDashboard="routerLinkActive"
          (mouseover)="dashboardHover=true" (mouseleave)="dashboardHover=false"
          [ngClass]="dashboardHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaDashboard.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">home</mat-icon>
          </div> <span
            [ngClass]="rlaDashboard.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Dashboard</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="expanded-nav-container-parent-unactive"
          [routerLink]="'/badges'" routerLinkActive="expanded-nav-container-parent-active" #rlaBadges="routerLinkActive"
          (mouseover)="badgesHover=true" (mouseleave)="badgesHover=false"
          [ngClass]="badgesHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div
              [ngClass]="rlaBadges.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">

              <mat-icon routerLinkActive="expanded-nav-icon-parent-active">verified</mat-icon>
            </div>
            <span
              [ngClass]="rlaBadges.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Badges</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="center"
            style="margin-right: 44px; width: 22px; height: 22px; background-color: rgb(145, 198, 15); border-radius: 10px;">
            <span style="font-size: 14px; color: #fcfcfc;
            text-decoration: none solid rgba(252, 252, 252, 0.8);
            text-align: center;">5</span>
          </div>

        </div>
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/buttons'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaButtons="routerLinkActive"
          (mouseover)="buttonsHover=true" (mouseleave)="buttonsHover=false"
          [ngClass]="buttonsHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaButtons.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">gamepad</mat-icon>
          </div>
          <span
            [ngClass]="rlaButtons.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Buttons</span>
        </div>
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/tables'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaTables="routerLinkActive"
          (mouseover)="tablesHover=true" (mouseleave)="tablesHover=false"
          [ngClass]="tablesHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaTables.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">table_view</mat-icon>
          </div>
          <span
            [ngClass]="rlaTables.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Tables</span>
        </div>
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/tooltip'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaTooltip="routerLinkActive"
          (mouseover)="tootlTipsHover=true" (mouseleave)="tootlTipsHover=false"
          [ngClass]="tootlTipsHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaTooltip.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">construction</mat-icon>
          </div>
          <span
            [ngClass]="rlaTooltip.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Tooltips</span>
        </div>
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/carousel'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaCarousel="routerLinkActive"
          (mouseover)="carouselWidgets=true" (mouseleave)="carouselWidgets=false"
          [ngClass]="carouselWidgets==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaCarousel.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">view_carousel</mat-icon>
          </div>
          <span
            [ngClass]="rlaCarousel.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Carousel</span>
        </div>
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/widgets'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaWidgets="routerLinkActive"
          (mouseover)="widgetsHover=true" (mouseleave)="widgetsHover=false"
          [ngClass]="widgetsHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaWidgets.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">widgets</mat-icon>
          </div>
          <span
            [ngClass]="rlaWidgets.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Widgets</span>
        </div>
      </div>
      <div style="width: 100%;">
        <div fxLayout="row" class="expanded-nav-container-parent-unactive" [routerLink]="'/settings'"
          routerLinkActive="expanded-nav-container-parent-active" #rlaSettings="routerLinkActive"
          (mouseover)="settingsHover=true" (mouseleave)="settingsHover=false"
          [ngClass]="settingsHover==true ? 'expanded-nav-container-parent-hover' : 'expanded-nav-container-parent-unactive'">
          <div
            [ngClass]="rlaSettings.isActive ? 'expanded-nav-icon-parent-container-active' : 'expanded-nav-icon-parent-container-unactive'">
            <mat-icon routerLinkActive="expanded-nav-icon-parent-active">settings</mat-icon>
          </div>
          <span
            [ngClass]="rlaSettings.isActive ? 'expanded-nav-label-parent-active': 'expanded-nav-label-parent-unactive'">Settings</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
