<div style="width: 100%;">
  <mat-card fxLayout="row" fxLayoutAlign="center">
    <!-- <img src="../../assets/dashboard.png" alt="temp dashboard image" style="height: 60%;"/> -->
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c83d0305-3cbb-4aa9-a351-635df27c5449&autoAuth=true&ctid=3f1b6f0c-3a11-45de-a302-7fe97b0d9a64&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWF1c3RyYWxpYS1zb3V0aGVhc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
  </mat-card>
</div>
