@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
/* You can add global styles to this file, and also import other style files */
.flex-container {
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* make main axis vertical */
  justify-content: center;
  /* center items vertically, in this case */
  align-items: center;
  /* center items horizontally, in this case */
}

.header,
.footer {
  height: 50px;
}

.codeText {
  font-size: 9px;
}

.white-icon {
  color: white;
}

/*************
Scrollbar scss styling
*************/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F1F1F1 #696969;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #F1F1F1;
}

*::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 20px;
  border: 3px solid #F1F1F1;
}

// Owl Carousel Styling
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  background: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgb(22, 102, 111, 0.1);
  color: #FFF;
  text-decoration: none;
}

.owl-carousel .owl-nav .owl-next {
  transform: scaleX(-1);
}
